.green{
    background-color: green;
}
.yellow{
    background-color:yellow;
}
.bold{
    font-weight: bolder;
}

header{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: white;
    transition: all 0.5s ease;

    div.logo{
        display: flex;
        align-items: center;
        flex: 5 1 400px;
        margin-left: 2rem;
        img{
            width: 6vw;
            height: 6vw;
        }
    }
    nav{
        flex: 2 1 400px;
        ul{
            display: flex;
            list-style-type: none;
            justify-content:space-around;
            li{
                a{
                    color:#09777d;
                    text-decoration:none;
                    font-size:1.35rem;
                }
            }
        
        }
    }
    
}
.a{
    width:300px;
    height:300px;
    background-color: red;
}

.b{
    width:150px;
    height: 150px;
    background-color: blue;
}